<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net461" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.2.16567.21060" targetFramework="net461" />
  <package id="Xceed.Wpf.Toolkit" version="3.2.16567.21060" targetFramework="net461" />
</packages>